@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --body-font: "Nunito Sans", sans-serif;

  --name: "dark";
  --color-Bg: #252525;
  --color-Bg2: #212121;
  --color-Bg3: #181818;
  --color-Danger: #fe6854;
  --color-Primary: #7263f3;
  --color-Primary2: #705df2;
  --color-Grey0: #f8f8f8;
  --color-Grey1: #dbe1e8;
  --color-Grey2: #b2becd;
  --color-Grey3: #6c7983;
  --color-White: #fff;
  --color-Primary-Green: #6fcf97;
  --color-Primary-GreenGrad: linear-gradient(91deg, #f56693 0, #6fcf97 90.46%);
  --button-Gradient1: linear-gradient(
    110.42deg,
    rgba(107, 190, 146, 0.1) 29.2%,
    rgba(245, 102, 146, 0.1) 63.56%
  );
  --button-Gradient2: linear-gradient(
    110.42deg,
    rgba(25, 151, 222, 0.1) 29.2%,
    rgba(168, 85, 247, 0.1) 63.56%
  );
  --button-Gradient3: linear-gradient(
    110.42deg,
    rgba(25, 151, 222, 0.1) 29.2%,
    rgba(168, 85, 247, 0.1) 63.56%
  );
  --button-Gradient4: linear-gradient(
    110.42deg,
    rgba(168, 85, 247, 0.1) 29.2%,
    rgba(245, 102, 146, 0.1) 63.56%
  );
  --button-Gradient5: linear-gradient(
    110.42deg,
    rgba(25, 151, 222, 0.1) 29.2%,
    rgba(168, 85, 247, 0.1) 63.56%
  );
  --button-Gradient6: linear-gradient(
    110.42deg,
    rgba(25, 151, 222, 0.1) 29.2%,
    rgba(168, 85, 247, 0.1) 63.56%
  );
  --button-Gradient7: linear-gradient(
    110.42deg,
    rgba(41, 25, 222, 0.1) 29.2%,
    rgba(235, 87, 87, 0.1) 63.56%
  );
  --button-Gradient8: linear-gradient(
    110.42deg,
    rgba(25, 151, 222, 0.1) 29.2%,
    rgba(168, 85, 247, 0.1) 63.56%
  );
  --button-Gradient9: linear-gradient(
    110.42deg,
    rgba(226, 195, 33, 0.1) 29.2%,
    rgba(247, 104, 85, 0.1) 63.56%
  );
  --button-Gradient10: linear-gradient(
    110.42deg,
    rgba(235, 87, 87, 0.1) 29.2%,
    rgba(189, 68, 166, 0.1) 53.82%,
    rgba(247, 85, 143, 0.1) 63.56%
  );
  --button-Gradient11: linear-gradient(
    110.42deg,
    rgba(25, 151, 222, 0.1) 29.2%,
    rgba(168, 85, 247, 0.1) 63.56%
  );
  --button-Gradient12: linear-gradient(
    110.42deg,
    rgba(226, 195, 33, 0.1) 29.2%,
    rgba(247, 104, 85, 0.1) 63.56%
  );
  --button-Gradient13: linear-gradient(
    110.42deg,
    rgba(226, 195, 33, 0.1) 29.2%,
    rgba(99, 3, 255, 0.1) 63.56%
  );
  --button-Gradient14: linear-gradient(
    110.42deg,
    rgba(41, 25, 222, 0.1) 29.2%,
    rgba(235, 87, 87, 0.1) 63.56%
  );
  --shadow1: 4px 4px 84px rgba(16, 10, 86, 0.04);
  --shadow2: 0px 48px 77px rgba(8, 18, 69, 0.07);
  --shadow3: 0 14px 40px rgba(0, 0, 0, 0.25);
  --color-Icons: rgba(249, 249, 249, 0.35);
  --color-Icons2: rgba(249, 249, 249, 0.75);
  --color-Icons3: rgba(249, 249, 249, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

body {
  min-height: 100vh;
  padding: 5rem 25rem;
  background-color: var(--color-Bg3);
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-Bg2);
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  box-shadow: var(--shadow3);
  border: 1px solid var(--color-Icons3);
}

h1 {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: 800;
  color: var(--color-Primary-Green);
}

.input-container {
  margin: 2rem 0;
  position: relative;
  font-size: clamp(1rem, 2vw, 1.2rem);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
.submit-btn button {
  font-family: inherit;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

input {
  background: transparent;
  border: 1px solid var(--color-Icons3);
  border-radius: 7px;
  padding: 0.8rem 1rem;
  color: var(--color-Grey2);
  width: 100%;
}

input:focus {
  outline: none;
}

input:placeholder {
  color: var(--color-Grey3);
}

input:active,
::focus {
  border: 1px solid var(--color-Icons);
}

.submit-btn button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background: var(--color-Primary-Green);
  height: 100%;
  padding: 0 1rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  color: var(--color-White);
  transition: all 0.3s ease;
}

.submit-btn button:hover {
  background: var(--color-Primary2);
}

.todo-container {
  overflow: hidden;
  background: var(--color-Bg2);
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow3);
  border: 1px solid var(--color-Icons3);
}

.todos {
}

.priority-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.priority-container p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 600;
  color: var(--color-Grey2);
}

.priority-container p:last-child {
  color: var(--color-Danger);
}

.toggle-grid button {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  background: var(--color-Primary-Green);
  border: 1px solid var(--color-Icons3);
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.6rem);
  color: var(--color-Grey1);
  transition: all 0.3s ease;
}

.low {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.low p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 600;
  color: var(--color-Primary);
}
